/* IMPORT FONT STYLE */

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:wght@400;700&family=Raleway&display=swap');

/* MAIN STYLE */
html {
  background-color: rgba(122,191,191,0.5);
}

body {
  background-color: #F2F2F2;
  margin: 0 auto;
  width: 414px;
}

header {
  visibility: hidden;
}

#streettacos {
  width: 414px;
}

#streettacos ul {
  display: grid;
  grid-template-columns: repeat(4, 25%);
  padding: 0px;
}

#streettacos li {
  display: inline-block;
  padding: 0px;
}

#streettacos a {
  color: #EB5428;
  display: grid;
  font-family: 'Bebas Neue', sans-serif;
  font-size: 16px;
  grid-template-rows: 1fr 1fr;
  text-decoration: none;
}

#streettacos img {
  padding: auto;
  width: 414px;
}

#streettacos p {
  padding: 10px;
}

#streettacos li {
  margin: 15px;
  text-align: center;
}

#streettacos svg {
  padding-left: 15px;
}

h1, h2, h3, h4, h5 {
  font-family: 'Bebas Neue', sans-serif;
}

h1 {
  font-size: 40px;
  margin: auto;
}

h2 {
  font-size: 30px;
  margin: auto;
  text-align: center;
}

h3 {
  font-size: 25px;
  margin: auto;
  text-align: center;
}

p, dd, nav, li, input {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
}

nav a, nav span, figcaption, footer {
  font-family: 'Bebas Neue', sans-serif;
  font-size: 20px;
}

dl {
  margin: 20px;
  width: 414px;
}

dt {
  display: inline-block;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: bold;
}

dd {
  display: inline-block;
}

li {
  padding: 5px;
}

#fullmenu {
  background-color: #7ABFBF;
}

#fullmenu h5 {
  font-size: 0px;
}

.menuitem {
  margin: 5px;
}

.menuitem div > h4 {
  display: block;
  position: relative;
  left: 120px;
}

.menuitem aside {
  display: block;
  margin-top: -50px;
  position: relative;
  left: 120px;
}

.menuitem img {
  position: relative;
  width: 35%;
}

footer {
  text-align: center;
}

footer img {
  margin: auto;
  width: 250px;
}

nav li{
  display: block;
  margin: auto;
  text-align: center;
}

nav a {
  color: #EB5428;
  display: grid;
  font-family: 'Bebas Neue', sans-serif;
  font-size: 16px;
  grid-template-rows: 1fr 1fr;
  text-decoration: none;
}

#socialmedia ul {
  display: grid;
  grid-template-columns: repeat(4, 25%);
  padding: 0px;
}

#socialmedia li {
  display: inline-block;
  padding: 0px;
  margin: 15px;
  text-align: center;
}

#socialmedia a {
  color: #EB5428;
  display: grid;
  font-family: 'Bebas Neue', sans-serif;
  font-size: 16px;
  grid-template-rows: 1fr 1fr;
  text-decoration: none;
}

#socialmedia svg {
  padding-left: 15px;
}

/*

/* SCALE OF 768PX
@media screen and (min-width:768px) {
  body {
   width: 768px;
}
}

/* SCALE OF 1280PX
@media screen and (min-width:1280px) {
  body {
    width: 1280px;
}
  
  #streettacos {
   width: 1280px;
}
  
  #streettacos h2 {
   position: relative;
   text-align: center;
   top: 0px;
}
  
  #streettacos div {
   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
}
  
  #streettacos ul {
   display: block;
}
}

*/