/* IMPORT FONT STYLE */

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:wght@400;700&family=Raleway&display=swap');

/* MAIN STYLE */
html {
  background-color: #7ABFBF;
}

body {
  background-color: #F2F2F2;
  margin: 0 auto;
  width: 414px;
}

header {
  visibility: hidden;
}

#streettacos {
  width: 414px;
}

#streettacos ul {
  display: grid;
  grid-template-columns: repeat(4, 25%);
  padding: 0px;
}

#streettacos li {
  display: inline-block;
  padding: 0px;
}

#streettacos a {
  color: #EB5428;
  display: grid;
  font-family: 'Bebas Neue', sans-serif;
  font-size: 16px;
  grid-template-rows: 1fr 1fr;
  text-decoration: none;
}

#streettacos img {
  padding: auto;
  width: 414px;
}

#streettacos p {
  padding: 10px;
}

h1, h2, h3, h4 {
  font-family: 'Bebas Neue', sans-serif;
}

h1 {
  font-size: 40px;
  margin: auto;
}

h2 {
  font-size: 30px;
  margin: auto;
  text-align: center;
}

h3 {
  font-size: 25px;
  margin: auto;
  text-align: center;
}

p, dd, nav, li, input {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
}

nav a, nav span, figcaption, footer {
  font-family: 'Bebas Neue', sans-serif;
  font-size: 20px;
}

dt {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: bold;
}

dl {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 10px;
}

li {
  padding: 5px;
}